.base {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #c4c4c4;
  width: 100%;
  height: 90vh;
  margin: 30px 0;
  /* margin-top: 10vh; */
}
.capax {
  max-width: 25.4vw;
  margin-left: 3vw;
}
.capax img {
  max-width: 100%;
  display: block;
  height: auto;
}
img {
  max-width: 100%;
}

.texto_livro {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  left: 10vw;
}
.titulo_livro {
  text-align: center;
  color: #773344;
  width: 36.6vw;
  font-size: clamp(1em, 1em + 1vw, 1.8em);
}

.descricao_livro {
  width: 52vw;
}
.descricao_livro h1 {
  font-size: clamp(0.5em, 1em + 1vw, 1.2em);
}

.center_comment {
  display: flex;
  flex-direction: column;
  background-color: #c2948a;
  width: 100%;
}
.titulo_comment {
  width: 80%;
  margin: 1.5em 1.5em 1.5em 1.5em;
}
.titulo_comment h1 {
  font-size: clamp(1em, 1em + 1vw, 1.5em);
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

.btn {
  background-color: #773344;
  border-color: black;
  border-radius: 5px;
  color: black;
  padding: 10px 14px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover, 
.unlike {
  background-color: #773344 !important;
}

@media (max-width: 815px) {
  .texto_livro {
    position: relative;
    margin: 0.5vw;
  }
  .capax img {
    position: relative;
    top: 1%;
  }
  .descricao_livro h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
  }
}
