

.Carrossel{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.PaginaHome{
    display: flex;
    flex-direction: column;
}
.Sobre{
    position: absolute;
    display:flex;
    flex-direction: row;
    width: 1400px;
    height: 500px;
    left: 0px;
    top: 600px;
    align-items: center;
    background-color :#c2948a;;

}

.SobreText{
margin-top: 50px;
margin-left: 100px;
margin-right: 100px;
font-family: Overlock;
font-style: normal;
font-size: 30px;
line-height: 45px;
}

.Title{
justify-content: center;
display: flex;
width: 30vw;
align-items: center;
font-family: Overlock SC;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 35px;
margin: 40px 0 -60px 0;
color: #EEF4ED;
background: #773344;
border-radius: 10px;

}
