.container{
display: flex;
max-width: 3000 px;
flex-grow: 1;
height: 436px;
left: 10%;
top: 457px;
border-radius: 20px;
background-color: #E5E5E5;
flex-direction:column;
align-items:center;
justify-content:center;
    
}


.page{
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:center;

}







 
