.baseperfil {
  height: 100%;
  display: flex;
  width: 100%;
}
.section2 {
  width: min-content;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  flex-direction: row;
  top: 254vh;
}
.section1 {
  width: min-content;
  top: 158vh;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  flex-direction: row;
}
.fundo {
  align-items: center;
  width: 35vh;
  height: 45vh;
  background-color: #773344;
  margin-left: 10vh;
  margin-bottom: 10vh;
}
.fundo:hover {
  filter: brightness(70%);
}
.fundo h1 {
  margin-top: 0.5em;
  font-family: "overlock SC";
  font-size: 1em;
  font-weight: 500;
}

.fundo img {
  margin-top: 1em;
  width: 75%;
  height: 75%;
}
.meuperfil {
  position: absolute;
  display: flex;
  width: 56vh;
  height: 7.5vh;
  left: 81.3vh;
  top: 15vh;
  justify-content: center;
  align-items: center;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 59px;
  text-align: center;
  color: #773344;
}

.sobremim {
  top: 22vh;
  left: 18vh;
  position: relative;
  height: 465px;
  width: 58.6vh;
}
.sobremim h1 {
  font-size: 1.5em;
  left: 18vh;
}
.descperfil {
  display: flex;
  flex-direction: column;
  width: 62vh;
  left: 18vh;
  height: 15vh;
  top: 25vh;
  position: absolute;
}
.descperfil h1 {
  font-family: Overlock SC;
  color: #773344;
  left: 18vh;
  font-size: 2.5em;
}
.detalhes {
  height: auto;
  position: absolute;
  width: 50vh;
  max-width: 58.6vh;
  height: 15vh;
  top: 27vh;
  left: 148.55vh;
  display: flex;
  font-family: Overlock SC;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 44px;
  color: #773344;
}
.detalhes2 {
  font-size: 0.5em;
  top: 35vh;
  left: 148.55vh;
  position: absolute;
  height: 465px;
  width: 58.6vh;
}
.detalhes2 h1 {
  font-size: 3em;
  left: 148.55vh;
}

.circle {
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 36vh;
  height: 36vh;
  left: 91.6vh;
  top: 35vh;
  border-radius: 50%;
}
.partebook {
  position: absolute;
  width: 100%;
  height: 172vh;
  top: 145vh;
  background: #c2948a;
  border-radius: 1%;
}
.ebooklido {
  position: relative;
  width: 100vh;
  height: 4.7vh;
  left: 10vh;
  top: 30px;
  margin: 0px 10px;
  font-family: Overlock SC;
  font-size: 1em;
  font-weight: 1000;
}
.ebooksalvos {
  position: relative;
  width: 100vh;
  height: 4.7vh;
  left: 10vh;
  top: 430px;
  font-family: Overlock SC;
  font-size: 1em;
  font-weight: 1000;
  line-height: 30px;
  text-align: center;

  color: #000000;
  margin: 0px 10px;
}

.img {
  max-width: 100%;
  max-height: 75%;
}
