.Conteiner{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    flex-grow: 1;
    background: #c4c4c4;
    border-radius: 20px;
    height: 436px;
}

.Base{
    display: flex;
    align-items:center;
    justify-content:center;
}

.inputs{
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: relative;
}

.Dados {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 

.Dados input{
    width: 420px;
}

.Titulo{
    color: #773344;
    font-size: 200%;
    font-weight: 1000;
    font-family: 'overlock SC';
    margin-top: 15px;
}

.inputs input{
    margin-top: 15px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 0 24px;


}

.Endereco {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.Endereco input {
    width: 199.5px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.Cidade {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
} 

.Cidade input {
    width: 200px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.Botao{
    background-color: #773344;
    color: #FFFFFF;
    border-radius: 4px;
    width: 420px;
    transition: filter 0.2s;
    margin-bottom: 15px;
    border: 1px s #333333;
    height: 30px;
}

.Botao:hover{
    filter:brightness(70%);
}